@font-face {
  font-family: martyric;
  src: url("fonts/martyric/Martyric_PersonalUse.ttf")
}

@font-face {
    font-family: locked_monster;
    src: url("fonts/locked_monster/Locked\ Monster.ttf");
}
@font-face {
    font-family: bombing;
    src: url('fonts/bombing/Bombing.ttf');
}
@font-face {
    font-family: blank_river;
    src: url('fonts/blank_river/Blank\ River.ttf');
}
h1 {
    height: 60px;
    display: flex;
    color: yellow;
    justify-content: center;
    font-family: blank_river;
    font-size: 60px;
    /* background-color: white; */
}
h2{
    height: 40px;
    display: flex;
    color: white;
    justify-content: center;
    font-family: blank_river;
    font-size: 30px;
}
.card img {
    width: 200px;
}
.score{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
}
.kaiji img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100px;
}
.funai img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 150px;
}
.stars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 190px;
    /* padding-left: 130px; */
    /* padding-right: 130px; */
    padding-bottom: 50px;

    /* margin-right: 600px; */

}
.star img {
    width: 60px;
    height: 60px;
}

.card img {
    box-shadow: 0px 0px 40px 20px yellow;
}

.moves {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Rock img, .Paper img, .Scissors img{
    display: flex;
    flex-direction: column;
    opacity: 70%;
    align-items: center;
    width: 200px;
}
.Rock p, .Paper p, .Scissors p{
    height: 20px;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: blank_river;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.Rock p{
    color: #E689D1;
}
.Paper p{
    color: #5FE4EE;
}
.Scissors p{
    color: #D7E278;
}


.Rock img:hover {
    opacity: 100%;
    box-shadow: 0px 0px 40px 20px #E689D1;
}
.Paper img:hover{
    opacity: 100%;
    box-shadow: 0px 0px 40px 20px #5FE4EE;
}
.Scissors img:hover{
    opacity: 100%;
    box-shadow: 0px 0px 40px 20px #D7E278;
}
.devil img {
    filter: grayscale(100%);
}
.devil img{
    box-shadow: 0px 0px 40px 20px red;
}

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}